.gradle/
build/
out/
bin/
.idea/workspace.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.log
.DS_Store
.env
.env.local
application-local.yml
*.iml
